In [2]:
import pandas as pd
data1 = [
    {"name": "Rohan", "PRN": 76, "Year": "SY", "Division": "B", "Batch": "B1"},
    {"name": "Anish", "PRN": 79, "Year": "SY", "Division": "B", "Batch": "B1"},
    {"name": "Piyush", "PRN": 77, "Year": "SY", "Division": "B", "Batch": "B1"},
    {"name": "Aditya", "PRN": 75, "Year": "SY", "Division": "B", "Batch": "B1"},
    {"name": "tanishq", "PRN": 92, "Year": "SY", "Division": "B", "Batch": "B1"}
]
df = pd.DataFrame(data1)
print(df)

      name  PRN Year Division Batch
0    Rohan   76   SY        B    B1
1    Anish   79   SY        B    B1
2   Piyush   77   SY        B    B1
3   Aditya   75   SY        B    B1
4  tanishq   92   SY        B    B1

In [4]:
import pandas as pd
df = pd.read_json('data.json')
print(df)
print(df.head(5))  
print(df.tail())  
print(df.info())

      name  PRN Year Division Batch
0    Rohan   76   SY        B    B1
1    Anish   79   SY        B    B1
2   Piyush   77   SY        B    B1
3   Aditya   75   SY        B    B1
4  tanishq   92   SY        B    B1
      name  PRN Year Division Batch
0    Rohan   76   SY        B    B1
1    Anish   79   SY        B    B1
2   Piyush   77   SY        B    B1
3   Aditya   75   SY        B    B1
4  tanishq   92   SY        B    B1
      name  PRN Year Division Batch
0    Rohan   76   SY        B    B1
1    Anish   79   SY        B    B1
2   Piyush   77   SY        B    B1
3   Aditya   75   SY        B    B1
4  tanishq   92   SY        B    B1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      5 non-null      object
 1   PRN       5 non-null      int64
 2   Year      5 non-null      object
 3   Division  5 non-null      object
 4   Batch     5 non-null      object
dtypes: int64(1), object(4)
memory usage: 332.0+ bytes
None

In [5]:
import pandas as pd
df = pd.read_csv('data2.csv')
print(df)
print(df.head(5))  
print(df.tail())  
print(df.info())

      name  PRN Year Division Batch
0    Rohan   76   SY        B    B1
1    Anish   79   SY        B    B1
2   Piyush   77   SY        B    B1
3   Aditya   75   SY        B    B1
4  tanishq   92   SY        B    B1
      name  PRN Year Division Batch
0    Rohan   76   SY        B    B1
1    Anish   79   SY        B    B1
2   Piyush   77   SY        B    B1
3   Aditya   75   SY        B    B1
4  tanishq   92   SY        B    B1
      name  PRN Year Division Batch
0    Rohan   76   SY        B    B1
1    Anish   79   SY        B    B1
2   Piyush   77   SY        B    B1
3   Aditya   75   SY        B    B1
4  tanishq   92   SY        B    B1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      5 non-null      object
 1   PRN       5 non-null      int64
 2   Year      5 non-null      object
 3   Division  5 non-null      object
 4   Batch     5 non-null      object
dtypes: int64(1), object(4)
memory usage: 332.0+ bytes
None