In [14]:
import pandas as pd

data1 = [
    {"name": "Rohan", "PRN": 76, "Year": "SY", "Division": "B", "Batch": "B1"},
    {"name": "Anish", "PRN": 79, "Year": "SY", "Division": "B", "Batch": "B1"},
    {"name": "Piyush", "PRN": 77, "Year": "SY", "Division": "B", "Batch": "B1"},
    {"name": "Aditya", "PRN": None, "Year": "SY", "Division": "B", "Batch": "B1"},
    {"name": "tanishq", "PRN": 92, "Year": "SY", "Division": "B", "Batch": "B1"}
]

# Create DataFrame
df = pd.DataFrame(data1)

# Drop rows with NaN values and store it in a new DataFrame
new_df = df.dropna()

# Fill NaN values in 'PRN' column with 0
df['PRN'] = df['PRN'].fillna(0)

# Print the DataFrames
print("DataFrame after dropna:")
print(new_df.to_string())
print("\nDataFrame after filling NaN in 'PRN' column:")
print(df.to_string())

DataFrame after dropna:
      name   PRN Year Division Batch
0    Rohan  76.0   SY        B    B1
1    Anish  79.0   SY        B    B1
2   Piyush  77.0   SY        B    B1
4  tanishq  92.0   SY        B    B1

DataFrame after filling NaN in 'PRN' column:
      name   PRN Year Division Batch
0    Rohan  76.0   SY        B    B1
1    Anish  79.0   SY        B    B1
2   Piyush  77.0   SY        B    B1
3   Aditya   0.0   SY        B    B1
4  tanishq  92.0   SY        B    B1

In [15]:
import numpy as np
import pandas as pd

# Sample data with NaN values
data = {
    'A': [1, 2, np.nan, 4, 5],
    'B': [np.nan, 2, 3, 4, 5],
    'C': [1, 2, 1, np.nan, 5],
    'D': [1, 6, 3, 4, 5]
}

# Create DataFrame
df = pd.DataFrame(data)

# Fill NaN in column 'A' with the mean of the column
df['A'] = df['A'].fillna(value=df['A'].mean())

# Fill NaN in column 'B' with the median of the column
df['B'] = df['B'].fillna(value=df['B'].median())

# Fill NaN in column 'C' with the mode of the column (using the first mode if there are multiple)
df['C'] = df['C'].fillna(value=df['C'].mode()[0])

# Print the DataFrame
print(df)

     A    B    C  D
0  1.0  3.5  1.0  1
1  2.0  2.0  2.0  6
2  3.0  3.0  1.0  3
3  4.0  4.0  1.0  4
4  5.0  5.0  5.0  5

In [16]:
import pandas as pd
df = pd.read_csv('Iris.csv')
print(df.head())
Q1 = df['SepalLengthCm'].quantile(0.25)
Q3 = df['SepalLengthCm'].quantile(0.75)
IQR = Q3 -Q1
lower_limit = Q1 -(1.5 * IQR)
upper_limit = Q3 + (1.5 * IQR)
outlier_df = df[(df['SepalLengthCm'] < lower_limit) | (df['SepalLengthCm'] > upper_limit)]
# Print outliers
print(outlier_df)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []